<!--TODO: bind href to the appropriate local URL for the album/artist/song.-->
<!--It is important to direct to a local/customized page instead of a Spotify page-->
<a id="local" href="http://localhost:4200/{{resource.category}}/{{resource.id}}">
<!--TODO bind src with the album/artist/song image URRL-->
<img class="d-block w-100" [src]="resource.imageURL">
<div class="carousel-caption d-none d-md-block">
	<!--TODO: populate h5 with the album/artist/song name-->
	<h5>{{resource.name}}</h5>
</div>
</a>